@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
  margin: 0;
  font-family: "Inter",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary-color: #4A96FF;
  --secondary-color: #1661c9;

  --text-color-1: #FFFFFF;
  --text-color-2: #C5C7CA;
  --text-color-3: #7F8084;
  --text-color-4: #6B6C70;

  --background-color-primary: #131319;
  --background-color-secondary: #27292D;


  --font-size-xxs: 8px;
  --font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;


  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 20px;
  --spacing-xl: 24px;

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 8px;
}